@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: rgb(191, 193, 200);
}

.bg-sec-dark {
    background-color: #262936;
}

.bg-dark-blue {
    background-color: #1E202B;
}

.pointer {
    cursor: pointer;
}

.logo-main {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
}

.logo-sec {
    font-size: 10px;
    font-weight: 300;
    color: #bfc1c8;
    letter-spacing: 0.5px;

}

.nav-link {
    font-size: 14px;
    color: white;
    padding: 5px 25px !important;
    font-weight: 400;
    border-radius: 30px;
    transition: 0.3s ease;
    border: 2px solid transparent;
    margin-right: 10px;
}

.nav-link:hover,
.navbar-nav .nav-link.active,
.nav-link:focus {
    border: 2px solid #009ad8;
    color: #009ad8;
}


.hero {
    min-height: 350px;
    padding: 70px 0;
    background-image: url(images/banner.png);
    background-size: cover;
}

.form-control {
    width: 100%;
    padding: 20px 50px 20px 20px;
    border-radius: 30px;
    background-color: #1e202b;
    color: white;
    border: 1px solid transparent;
}

.form-control:focus,
.form-control:active {
    background-color: #1e202b;
    color: white;
    border-color: transparent;
    box-shadow: none;
}

.form-control::placeholder {
    color: #bfc1c8;
}

.btn-search {
    background-color: #009ad8;
    color: white;
    border-radius: 30px;
    padding: 0 40px;
    border: 1px solid transparent;
    transition: 0.3s ease;
    position: absolute;
    right: 17px;
    top: 5px;
    bottom: 5px;
}

.wather-place {
    margin-top: -150px;
    margin-bottom: 50px;

}

.card {
    border: none;
    height: 100%;
}

.card-header {
    background-color: #2D303D;
    font-weight: 400;
    color: rgb(191, 193, 200);
}

.card-body {
    background-color: #323544;

}

.weather-status {
    color: #009ad8;
    margin: 20px 0;
}

.weather-icon {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.weather-icon img {
    width: 100%;
}

.card-title {
    font-size: 18px;
    font-weight: 400;
    color: rgb(191, 193, 200);
}

.card-text {
    font-size: 4rem;
    margin-right: 30px;
    color: white;
    font-weight: 600;
}

.card-footer {
    background-color: #323544;
    border: none;
}

.card-footer span {
    color: rgb(191, 193, 200);
}

.bg-sec-dark {
    background-color: #262936;
}

.bg-dark-three {
    background-color: #222531;
}

.wather-dgree .high {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.wather-dgree .low {
    font-size: 16px;
    font-weight: 300;
    color: white;
}




.btn-search.btn-sm {
    padding: 10px 20px;
    font-size: 16px;
    right: 5px;
}

.footer input[type="text"] {
    padding: 20px 100px 20px 20px;
    height: 56px;
}


.social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    transition: 0.3s ease;
    font-size: 20px;
}


.social-links a:hover {
    background: #009ad8;
    color: white;
}

.copyright {
    color: #bfc1c8;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}



#windDirCompass {
    rotate: 270deg;
}


@media screen and (max-width: 992px) {
    .navbar-nav {
        background: #262936;
        list-style: none;
        border-radius: 10px;
        margin: 15px 0;
    }

    .nav-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-link {
        text-align: center;
        padding: 20px !important;
    }

    .nav-link:hover,
    .navbar-nav .nav-link.active,
    .nav-link:focus {
        border: 2px solid transparent;
        color: #009ad8;
    }

    .navbar-toggler {
        color: white;
        font-size: 12px;
        border: 2px solid transparent;
        padding: 20px;
        border-radius: 40px;
        outline: none;
        transition: 0.3 ease;
    }

    .navbar-toggler:hover,
    .navbar-toggler:active,
    .navbar-toggler:focus {
        border-color: #009ad8;
        color: #009ad8;
    }


}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}